{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": [
        "env",
        "react",
        "react-optimize",
        "stage-3",
        "stage-2",
        "stage-1",
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-class-properties"]
}
